@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
  background-color: skyblue;
  font-family:"font-family: 'Slabo 27px', serif;", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: rgb(0,0,0);
  text-align: center;
}
#title{
	padding: 25px;
	font-size: 50px;
	background-color: rgb(255,0,0);
	color: rgb(50,0,300);
}
#stages{
  color:rgb(190, 153, 0);
  padding: 5px;
  background-color: rgb(21, 0, 134);
}
#stages:hover{
  color:red;
    background-color: rgb(0, 0, 0);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(59, 64, 190);
  color: rgb(0,0,0);
}
h3{
	font-size: 25px;
}
p{
	text-align: left
}
div{
	text-align: left
}